$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsla(245, 75%, 52%, 0.904);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$white: #fff;
$black: #000000;
